/app/nbproject/private/
/app/dist/
/app/build/
/Logo/nbproject/private/
/suplogo/nbproject/private/
/suplogo/build/
/suplogo/dist/

bin/
.gradle/
repos/
build/
.classpath
.project
.settings/

Thumbs.db
*~